html {
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn {
    cursor: pointer;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

#ResponseSection {
    /*border: solid 1px black;*/
    height: 100%;
    padding: 5px;
}

#Questions {
    border-radius: 4px;
    background-color: white;
    max-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    overflow: scroll;
}

#Information {
    top: 15px;
}

#Slider {
    margin-bottom: 20px;
    top: 10%;
}

#Responses {

}

#EmailClient {
    white-space: pre-wrap;
    /*border: solid 1px black;*/
    height: 100%;
    padding: 5px;
}

#email

#EmailBody {
    padding: 18px;
    max-height: 40vh;
    overflow: scroll;
    border: solid 1px black;
    white-space: inherit;
}

#responsBar {
    z-index: 9999;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: all .20s ease;
}

#proceedButton {
    margin: 0 auto;
    display: inline-block;
  }

#responsBar.show {
    border-top: solid black 2px;
    z-index: 9999;
    bottom: 0;
    position: absolute;
    opacity: 1;
    height: 25%;
    width: 100%;
}

#responsBar.hide {
    border-top: hidden;
    opacity:0;
    z-index: -999;
    height:0;
    width:100%;
}

#responsBarContent {

    padding:0;
    height:100%;
}

#responsBarContent .row {
    height: 100%;
}
#to {
    white-space: inherit;
}

#date {
    white-space: inherit;
}

#from {
    white-space: inherit;
    cursor: pointer;
}

#subject {
    white-space: inherit;
}

#Submit {
    margin: 5%;
    bottom: 13px;
}

#Questions {
    border: solid black 1px;
    height: 92%;
}

.visible {
    visibility: visible;
}

.invisibile {
    visibility: hidden;
}


#attachmentImage {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    cursor: pointer;
    width: 120px;
    height: 120px;
    text-align: center;
    float: right;
}
.center {
    margin: 0 auto;
    margin-top: 5px;
    white-space: normal;
    width: 45%;
}
#EmailContent {
    border-radius: 4px;
    background-color: white;
    height: 92%;
    border: solid black 1px;
}
#text-center{
    text-align: center;
}

.image-attachment {
    width: 80%;
    height: 80%;
}

.row {
    /*height:100%;*/
    margin: 0;
}