body {
    background-color: #343a40;
}
#SideBar {
    padding: 5px;
    height: 100%;
}

#SideBarContent {
    border-radius: 4px;
    background-color: white;
    text-align: center;
    border: solid black 1px;
    height: 92%;
    padding: 5px;
}

#TrophySection {
    height: 100%;
    padding: 5px;
}

#TrophyContent{
    border-radius: 4px;
    background-color: white;
    overflow: scroll;
    padding: 5px;
    border: solid black 1px;
    height: 92%;
}

.card {
    text-align: center;
    vertical-align: middle;
    float: left;
    width: 20%;
    margin: 2.5%;
    height: 26%;
    -moz-box-shadow: 2px 2px 3px #ccc;
    -webkit-box-shadow: 2px 2px 3px #ccc;
    box-shadow: 2px 2px 3px #ccc;
    border: solid #adadad 1px;
}

.card-color {
    border-bottom: solid #adadad 1px ;
    background-color: dodgerblue;
    height: 50%;
}

.card-green {
    border-bottom: solid #adadad 1px ;
    background-color: #006633;
    height: 50%;
}

.card-gold {
    border-bottom: solid #adadad 1px ;
    background-color: #e9c225;
    height: 50%;
}

.card-grey {
    filter: grayscale(100%);
}

.circle {
    background-color: black;
    margin: 18% auto;
    width:40%;
    height: 40%;
    padding-top: 40%;
    border: solid 1px #555;
    /*background-color: #eed;*/
    /*background-image: url("http://cmeimg-a.akamaihd.net/640/photos.demandstudios.com/getty/article/64/119/497829044.jpg");*/
    background-size: 130% 130%;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 5px 5px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 5px 5px rgba(0,0,0,0.6);
    border-radius: 100%;
}

.card-description {
    margin-top: 20%;
}

.star {
    position: absolute;
    height: 18%;
    right: 5%;
    top: 5%;
}